	body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	}

	#banner_wrap {
		width: 100%;
		background: url(../images/bar/background.png) top left repeat-x;
		position: absolute;
		height: 20px;
		top: 0px; 
		left: 0;
		z-index: 100;
	}

	#banner {
		position: relative;		
		height: 20px; 
		padding: 0; 
		margin: 0 auto 0 auto;
		width: 800px;
	}

	#wpbanner {
                position: relative;
                height: 20px;
                padding: 0;
                margin: 0 auto 0 auto;
                width: 800px;
        }

	
	#banner li {
	list-style: none; margin: 0; padding: 0; display: inline;
	}
	
	
	#banner_logo {
	display: block;
	position: absolute;
	top: 0;
	left: 0; 
	width: 120px;
	height: 19px;	

	}
	
	#banner_logo a {
	display: block;
	width: 220px;
	height: 19px;
	background: url(../images/bar/democracyinternettv.png) top left no-repeat;
	overflow: hidden; 
	font-size: 1px; 
	line-height: 1px; 
	color: #ddd; 
	padding: 0px 0 0 0;
	}		
			
	#banner .banner_link {
	display: block; 
	float: right;
	margin: 0 0 0 10px;
	overflow: hidden; 
	font-size: 1px; 
	line-height: 1px; 
	color: #ddd; 
	height: 19px;
	padding: 0px 0 0 0;
	}

	#banner .banner_link a {
	color: #ddd; 
	display: block;
	height: 19px;
	}

	#banner .activesite {
	display: block; 
	float: right;
	margin: 0 0 0 10px;
	overflow: hidden; 
	font-size: 1px; 
	line-height: 1px; 
	color: #ddd; 
	height: 19px;
	padding: 0px 0 0 0;
	}

	#banner .activesite a {
	display: block;
	height: 19px;
	color: #eee; 
	background-position: 0 -20px;
	}

	

	#videobomb {
	background: url(../images/bar/videobomb.png) top left no-repeat;
	width: 89px;
	}

	#channelchannel {
	background: url(../images/bar/channelchannel.png) top left no-repeat;
	width: 127px;
	}

	#pcf {
	background: url(../images/bar/pcf.png) top left no-repeat; 
	width: 39px;
	}

	#getdemocracy {
	background: url(../images/bar/getdemocracy.png) top left no-repeat; 
	width: 113px;
	}

	#publicize {
	background: url(../images/bar/publicize.png) top left no-repeat; 
	width: 77px;
	}

	
	#banner .banner_link a:hover, #banner_logo a:hover {
	color: #eee; 
	background-position: 0 -20px;
	}
	
	
