/* ------------------------------------------- */
/* BEGIN TYPOGRAPHY, COLORS, AND OTHER STYLING */
/* ------------------------------------------- */

body {
	margin:0;
	padding:0;
	font-family:"Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;
	color:#222;
}

a:link, a:visited {
	color:#003366;
	font-weight:bold;
}

a:hover {
	color:#0066CC;
	font-weight:bold;
}

#quote {
	text-align:right;
	font:normal 14px Verdana, Arial, sans-serif;
	color:#172966;
	margin:25px 0;
}

.quote-byline {
	font-size:14px;
	color:#393939;
	font-style:italic;
}

#description {
	color:#2d2d2d;
	font:normal 14px Verdana, Arial, sans-serif;
	line-height:1.3em;
}

.hl {
	background:#fff;
}

#subdesc {
	font: normal 12px Verdana, Arial, sans-serif;
	color: #172629;
	margin: 0 0 8px 0;
	float: left;
	width: 160px;
}

#otherplat a.plathead {
	font-size:11px;
}

img {
border: none;
}

/* END TYPOGRAPHY, COLORS, AND OTHER STYLING */
/* ----------------------------------------- */

	
/* ---------------------- */
/* BEGIN STRUCTURE/LAYOUT */

#header {
	width:100%;
	background:#ccc url('../images/bgr_header.gif') repeat-x;
	height:147px;
}
	#header-top {
		width:785px;
		margin:0 auto;
		padding:0;
		height:85px;
	}
	
#main {
	width:100%;
	height:409px;	
	background:#ede8d6 url('../images/bgr_callout.gif') repeat-x;
}	
	#callout {
		width:785px;
		margin:0 auto;
		padding:10px 0 0 0;
	}
		#callout-left {
			float:left;
			width:325px;
			margin:0 0 0 18px;	
		}
		#callout img {
			float:right;
			width:421px;
			margin:10px 0 0 0;
		}

#downloadarea {
	width:284px;
}		
	#download-aux {
		display:block;
		background:url('../images/bgr_downloadaux.gif') bottom no-repeat;
		width:247px;
		height:17px;
		margin:0 auto;
		text-align:center;
		font-size:12px;
		color:#fff;
		padding:6px 0 0 0;
	}
	
	#download-aux a {
		color:#fff;
	}

	#download-aux a:hover {
		text-decoration:none;
	}

	#download-button {
		margin:0;
		padding:0;
	}

	#download-button a {
		display:block;
		background:url('../images/btn_download.gif') 0 0 no-repeat;
		width:259px;
		height:27px;
		color:#fff;
		text-decoration:none;
		font:normal 11px Arial, Verdana, sans-serif;
		padding:35px 0 0 20px;
	}

	#download-button a:hover {
		background:url('../images/btn_download.gif') 0 -62px no-repeat;
	}
	#download-versions {
		font-size:11px;
		text-align:center;
	}
	



#downloadarea-sub {
	width:284px;
	margin:10px auto;
}		
	#download-button-sub {
		margin:0;
		padding:0;
	}
	
	#download-button-sub a {
		display:block;
		background:url('../images/btn_download.gif') 0 0 no-repeat;
		width:259px;
		height:27px;
		color:#fff;
		text-decoration:none;
		font:normal 11px Arial, Verdana, sans-serif;
		padding:35px 0 0 20px;
	}
	
		#download-button-sub a:hover {
		background:url('../images/btn_download.gif') 0 -62px no-repeat;
	}

	
	
#subcallout	{
	background: url('../images/bgr_subareadouble.gif') 0 0 no-repeat;
	width:780px;
	height: 179px;
	margin:-5px auto 0 auto;
	display:block;
	padding:0 0 15px 0;
}
	#subcontent {
		padding: 7px 15px 0 15px;
		float: left;
		width: 355px;
	}
	#subnews {
		width: 355px;
		float: right;
		padding: 7px 15px 0 15px;
		color: #fff;
		position: relative;
	}
	.newsrss {
		background: url('../images/icn_rss.gif') no-repeat;
		display: block;
		width: 14px;
		height: 14px;
		overflow: hidden;
		text-indent: -9999em;
		position: absolute;
		right: 20px;
		top: 18px;
	}
	a.morenews {
		float: right;
		color: #fff;
		font-size: 11px;
		text-decoration: none;
	}
	a.morenews:hover {
		text-decoration: underline;
	}

	
#otherplat {
	width:750px;
	margin:25px auto;
	background:#e6f4fb;
	border:5px solid #daebf3;
	padding:10px 12px;
	font-size:11px;
}	
	#otherplat p {
		margin:0;
		font-size:13px;
	}
	#otherplat-left {
		float:left;
		width:365px;
		padding:10px 10px 0 0;
		font-size:13px;
	}
	#otherplat-right {
		float:right;
		width:365px;
		padding:10px 0 0;
		font-size:13px;
	}
	#otherplat img {
		float:left;
		margin-right:5px;
	}

#content {
	width:780px;
	margin:0 auto;
}

#content-forum {
	margin:15px auto;
	width:780px;
	text-align:left;
}
	#content-forum img {
		margin:0 0 10px 0;
	}
	
	#content-forum p {
		margin:5px 0 20px 0;
		font-size:10px;
	}
       
	#content-forum dt {
		text-align:left;
	}

	#content-forum label {
		text-align:left;
	}

       #content-forum dd {
		font-size:10px;
       }

	#content-forum select {
		width:150px;
       }

       #postbox {
		width:500px;
		align:center;
		height:250px;
	}

#content-1col {
	margin:15px auto;
	width:780px;
	text-align:center;
}
	#content-1col img {
		margin:0 0 10px 0;
	}
	#content-1col p {
		text-align:left;
		margin:5px 0 20px 0;
		font-size:14px;
	}
#content-2col {
	margin:0 auto;
	width:780px;
}	
	#content-left {
		float:left;
		width:410px;
	}
	#content-left-broad {
		float:left;
		width:470px;
	}
	#content-left-2col {
		float:left;
		width:510px;
		margin-bottom:20px;
	}
		#content-left p, #content-left-2col p {
			margin:0 0 20px 0;
			font-size:14px;
		}
	#content-right {
		float:right;
		width:340px;
		margin-bottom:20px;
	}
	#content-right-broad {
		float:right;
		width:280px;
		margin-bottom:20px;
	}
	#content-right-broad p {
		font-size:12px;
		margin:0 0 15px 0;
	}
	#content-right-broad img {
		border:1px solid #ccc;
	}
	#content-right-2col {
		float:right;
		width:230px;
		background:#eee;
		margin:20px 0 20px 0;
		padding:10px;
	}
		#content-quote {
			background:#f8f5ee;
			padding:10px;
			color:#1b2c49;
			font-size:15px;
		}
		#support-democracy {
			text-align:center;
		}
			#support-democracy strong {
				color:#1b2c49;
			}
			#support-democracy img {
				margin:5px 0;
			}
			#support-democracy a {
				font-size:13px;
			}
		#storeimage {
			text-align:center;
			width:300px;
			margin:0 auto;
			border:3px solid #1b2c49;
			padding:3px;
		}	
		#workonsoftware {
			margin:15px 0;
			text-align:center;
		}
			#workonsoftware p {
				font-size:12px;
				margin:0;
				text-align:justify;
			}
			
	#callout-bottom { 
		border:3px solid #eee;
		padding:5px;
		margin:8px 0;
	}
		#callout-bottom img {
			float:left;
			margin:0 10px 0 0;
		}
		#callout-bottom p{
			margin: 5px 0;
		}
		
#footer {
	width:780px;
	margin:15px auto 0 auto;
	padding:5px 0;
	border-top:3px solid #f5f5f5;
	background:#f9f9f9;
}

#footer p {
		display: block;
		clear: both;
		text-align:center;
		font-size:13px;
		padding-top: 10px;
	}

#sub-main {
	width:780px;
	margin:0 auto;
}
#sub-main-2col {
	width:100%;
	margin:0 auto 10px auto;
}
	.subhead {
		font-size:14px;
		margin:0;
	}
	#sub-main-2col .subhead, p.subhead2 {
		font-size:16px;
		margin:0 0 8px 0;
		background:#FCFBEE;
		padding:5px;
		color:#222;
	}
	p.subhead2 {
		margin:0 0 8px 0;
		background:#FCFBEE;
		padding:5px;
		color:#222;
	}
	#sub-main-2col p {
		margin:0 0 8px 0;
	}

.byline {
	font-size:12px;
	color:#aaa;
}

#sub-main h2, #sub-channels h2, #sub-main-2col h2, #content-1col h2 {
	margin:15px 0 0 0;
	font-size:28px;
	color:#1b2c49;
	font-weight:bold;
	text-align:left;
	line-height:.9em;
}

#sub-main-2col h3 {
	font-size:20px;
	color:#363636;
	margin:0 0 8px 0;
}

#steps {
	width:780px;
	margin:20px auto;
}

#sub-channels {
	width: 780px;
	margin:20px auto;
}

#lower-sidebar {
	border-top:1px solid #ccc;
	margin:10px 0 0 0;
	padding:10px 0 0 0;
	font-size:14px;
}
	#lower-sidebar2 {
		margin:0;
		padding:10px 0 0 0;
		font-size:14px;
	}
	#lower-sidebar p {
		margin:0 0 10px 0;
	}
	#lower-sidebar2 p {
		margin:0 0 10px 0;
	}

#downloads {
	text-align:center;
}
	#downloads p {
		font-size:12px;
	}
	
.column3 {
	float:left;
}

.column4 {
	float:left;
	margin-right:20px;
}

#donation_zone {
	background-color: #e6f4fb;
	padding: 20px 13px 13px 13px;
	font-size: 18px;
  line-height: 24px;
	margin:10px 0;
}

.staffcontent {
	clear: both;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}
	.staffcontent p {
		margin: 0px 0px 15px 0px;
		padding: 0px;
		line-height: 135%;
	}
	.contact-staff-tnail {
		float: right;
		margin: 0px 0px 5px 5px;
		background-color: #eeeeee;
		border: 1px solid #dddddd;
		padding: 4px 4px 1px 4px;
	}
.column2 {
	float: left;
	display: inline;
	width: 47%;
	margin-right: 3%;
}
	#content-left-2col .column2 p {
		font-size:12px;
	}

#walkthrough-sub {
	margin-top:-15px;
}
	#wt-sub-left {
		float:left;
	}
	#wt-sub-right {
		float:right;
		margin:38px 15px 0 0;
		font-size:23px;
	}


/* END STRUCTURE/LAYOUT */
/* -------------------- */


/* ------------- */
/* BEGIN HEADERS */

h1 {
	margin:0;
	padding:0;
}

	h1 a {
		width:315px;
		height:65px;
		display:block;
		margin:10px 0 0 0;
		padding:0;
		overflow:hidden;
		text-indent:-9999em;
		background:url('../images/img_logo.gif') no-repeat;
		float:left;
	}

#callout h2 {
	margin:0 auto;
	padding:0;
	display:block;
	width:699px;
	height:34px;
	overflow:hidden;
	text-indent:-9999em;
	background:url('../images/hdr_dplayer.gif') no-repeat;
}

.content h2 {
	font-size: 21px;
	font-weight: bold;
	padding-top: 10px;
}

#downloads h2 {
	margin:0;
	font-size:18px;
}

.staffcontent h2 {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	color: #333;
	font: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: bold;
}

#subcallout h2 {
	margin:0 0 2px 0;
	padding:0;
}

#sub-main h2, #sub-channels h2, #sub-main-2col h2, #content-1col h2 {
	margin:15px 0 5px 0;
	font-size:25px;
	color:#1b2c49;
	font-weight:bold;
	text-align:left;
}

h3 {
	font-size:25px;
	margin:0;
}

h4 {
	margin:0 0 3px 0;
	font-size:22px;
	color:#1b2c49;
	border-bottom:1px solid #ccc;
	display:block;
	background:#f5f5f5;
	padding:2px 0 2px 5px;
	text-align:left;
}

#content-right-broad h4 {
	margin:0;
	font-size:18px;
	color:#1b2c49;
	border-bottom:0;
	display:block;
	background:none;
	padding:2px 0 2px 5px;
	text-align:center;
}

#content-left-2col h4 {
	margin-top:20px;
}

#content-left-2col img {
	padding:2px;
	border:1px solid #ccc;
	background:#fff;
}

h5 {
	margin:8px 0 0 0;
	font-size:17px;
}

h6 {
	font-size:18px;
	margin:15px 0 0 0;
	color:#1b2c49;
}

#subcontent h5 {
	margin:2px 0 0 0;
	font-size:13px;
}



#content-right h6 {
	
}


/* END HEADERS */
/* ----------- */


/* ----------- */
/* BEGIN LISTS */

ul#nav-main {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}

	ul#nav-main li {
		float:left;
	}

	ul#nav-main li a, ul#nav-main li a:visited {
		text-decoration:none;
		display:block;
		height:45px;
		color:#444648;
		padding:30px 10px 10px 10px;
		font:normal 12px Verdana, Arial, sans-serif;
		text-transform:uppercase;
		float:left;
	}
	ul#nav-main li a:hover {
		text-decoration:none;
		background:url('../images/bgr_navbutton.gif') repeat-x;
		display:block;
		text-decoration:none;
	}

ul#nav-sub {
	margin:0 auto;
	padding:0;
	width:785px;
	list-style:none;
	height:61px;
	overflow:hidden;
}

	ul#nav-sub li {
		float:left;
	}
	ul#nav-sub li a, ul#nav-sub li a:hover {
		display:block;
		overflow:hidden;
		text-indent:-9999em;
		width:260px;
		height:60px;
	}
	#nav-watch a {
		background:url('../images/btn_watch.gif') -1px 0 no-repeat;
	}
	#nav-watch a:hover {
		background:url('../images/btn_watch.gif') -1px -61px no-repeat;
	}
	#nav-make a {
		background:url('../images/btn_make.gif') -1px 0 no-repeat;
	}
	#nav-make a:hover {
		background:url('../images/btn_make.gif') -1px -61px no-repeat;
	}
	#nav-code a {
		background:url('../images/btn_code.gif') -1px 0 no-repeat;
	}
	#nav-code a:hover {
		background:url('../images/btn_code.gif') -1px -61px no-repeat;
	}

#subcontent ul,#sub-channels ul {
	margin:0;
	padding:0;
	list-style:none;
	float: right;
	width: 175px;
}
	#subcontent li, #sub-channels li {
		float:right;
		font-size: 11px;
	}
	#subcontent #channel1, #sub-channels #channel1 {
		margin-right:10px;
	}
	#subcontent #channel2, #sub-channels #channel2 {
		margin-right:10px;
	}
	#subcontent li img {
		border: 4px solid #e1e1e1;
	}

#subnews ul {
	margin: 12px 0 0 0;
	padding: 0;
	list-style: none;
}
	#subnews li {
		margin: 0 0 8px 0;
		padding: 0 0 0 10px;
		background: url('../images/icn_arrow.gif') 0 5px no-repeat;
	}
* html #subnews li {
	background-position: 0 8px;
}
	#subnews li a {
		color: #fff;
		text-decoration: none;
	}
	#subnews li a:hover {
		text-decoration: underline;	
	}	
		
#sub-channels ul {
	margin:10px 0 0 0;
	background:#e6f4fb;
	border:5px solid #daebf3;
	padding:10px 12px;
	list-style:none;
	height: 210px;
}

#channel1 img, #channel3 img, #channel2 img {
	border: 4px solid #ddd;
}

	#sub-channels li {
		float:left;
	}
	#sub-channels #channel1 {
		margin-right:8px;
	}
	#sub-channels #channel2 {
		margin-right:8px;
	}

#footer ul {
	margin:6px 0 5px 0;
	padding:0 0 0 10px;
	list-style:none;
}
	#footer ul li {
		float:left;
		margin:0;
		padding:0 0 12px 0;
		margin:0 30px 0px 0;
		font-size: 14px;
		font-weight: bold;
	}
	#footer ul ul {
		padding: 6px 0 0 0;
		margin:0;
	}
		#footer ul li a {
			color:#003366;
		}
		#footer ul ul li {
			float:none;
			margin:0 0 3px 0;
			padding:0;
			font-size:12px;
		}
		
* html #footer ul ul li {
			margin:0 0 -5px 0;
}
		#footer ul ul li a {
			color:#003366;
		}
		
		#footer a {
			text-decoration:none;
		}
		#footer a:hover {
			text-decoration:underline;
		}

#steps ul {
	margin:0;
	list-style:none;
}
	#steps li {
		float:left;
		width:215px;
		margin:0 30px 0 0;
		font-size:13px;
	}
	#steps strong {
		font-size:15px;
		color:#1b2c49;
	}
	#steps img {
		display:block;
		text-align:left;
		border:1px solid #ccc;
		padding:2px;
		margin:0 0 4px 0;
	}

.screendesc {
	font-size:12px;
	background:#eee;
	margin:0 1px 8px 0;
	padding:4px 5px;
	color:#777;
	font-style:italic;
}

#content-right-2col-art {
	float:right;
	width:230px;
	background:#FCFBEE;
	margin:20px 0 20px 0;
	padding:10px;
	border-top:4px solid #EEEBC8;
}
	
.sidebar-nav, .sidebar-nav-art {
	margin:0;
	padding:0;
	list-style:none;
	font-size:18px;
}

.sidebar-nav li ul, .sidebar-nav-art li ul {
	margin:2px 0 0 0;
	padding:0;
	list-style:none;
}

	.sidebar-nav li li {
		font-size:13px;
		padding:0 0 4px 0;
	}

.sidebar-nav-art li li {
	font-size:13px;
	padding:0 0 12px 0;
}

h6 {
	font-size:18px;
	margin:15px 0 0 0;
	color:#1b2c49;
}

#content-left ul {
	margin:5px 0 25px 0;
}	

#content-right ul {
	list-style:none;
	margin:0;
	padding:0;
	font-size:13px;
}	
	#content-right li {
		margin-bottom:5px;
	}

dt {
  width: 240px;
  margin: 4px 8px 0 0; 
  padding: 0;
  text-align: right;
  white-space: nowrap;
  float: left;
  clear: left;
  position: relative;
/* font-weight: bold; */
 color: #333;
 font-size: 19px;
  line-height: 24px;
}
dd {
  margin: 0 0 12px 0px;
  font-size: 17px;
  color: #333;
  line-height: 24px;
text-align:left;
}

#lower-sidebar2 ul {
	list-style:none;
	margin:0 0 10px 0;
	padding:0;
}
	#lower-sidebar2 ul li {
		margin:0 0 5px 3px;
		font-size:12px;
	}
	#lower-sidebar2 a {
		font-weight:normal;
	}

#content-right-broad ul {
	margin:0 0 15px 25px;
	padding:0;
	font-size:14px;
}	
	#content-right-broad li {
		margin:0;
		padding:0;
	}

/* END LISTS */
/* --------- */

/* ------------------- */
/* BEGIN FORM ELEMENTS */

fieldset div {
	display:block;
	margin-bottom:8px;
}

input, textarea {
	margin-bottom:8px;
}

label {
	float:left;
	width:150px;
	text-align:right;
}

#lower-sidebar form {
	margin:0;
}

#donation_zone input, #donation_zone select {
  font-size: 14px;
  line-height: 24px;
	margin:0;
}	

#content-right-broad form {
	margin:0;
	padding:0;
}
#content-right-broad input {
	margin:0;
	padding:0;
}
	

/* END FORM ELEMENTS */
/* ----------------- */


/* ------------------- */
/* BEGIN MISC ELEMENTS */

.clearer {

 overflow:hidden;
 margin-top:-1px;
 clear:both;
} 	

.divider {
	border-top: 1px solid #AAA;
	margin: 20px 20px 0px 20px;
	font-size: 15px;
}

.channels {
	border-color: #BBBBBB;
}


/* ------------------- */
/* MESSAGE SECTION - FORGIVE ME FOR DUMPING THIS AT THE END */


#post-download-form {
text-align: center;
background-color: #ffd;
padding: 5px;
}

.pd_box {
border: 3px solid #aea;
margin: 12px 0 0px 0;
}

.pd_box li {
padding: 0px 0 10px 0;
font-size: 18px;

margin: 0 0 0 15px;
}

.pd_box ul {
margin: 0;
padding: 0 0 0 42px;
}
.pd_box_top {
background-color: #e5ffe5;
padding: 3px 3px 3px 6px;
margin: 0;
color: #444;
}

.pd_box_inside {
padding: 10px;
}

/* END MISC ELEMENTS */
/* ----------------- */

/* --------------- */
/* WORDPRESS FIXES */

#content-left-2col h2.posttitle {
	margin:-4px 0 0 55px;
	padding:0;
	font-size:25px;
	line-height:1em;
}

#rssfeedca {
	margin:20px 0;
	padding:5px;
	font-size:22px;
	font-weight:bold;
	background:#FCFBEE;
	text-align:center;
	border:1px solid #E6E3C5;
}

.byaux {
	font-size:12px;
	padding:3px 0 0 0;
	margin: 0 0 20px 55px;
	font-weight:bold;
}

.dateblock {
	display:block;
	float:left;
	width:47px;
	height:49px;
	background:url("http://getdemocracy.com/images/date.png") no-repeat;
	text-align:center;
	margin:0 8px 0 0;
	color:#172944;
	padding:5px 0 0 0;
}

.datetop {
	font:bold 13px Arial, Verdana;
	text-transform:uppercase;
	margin:0;
	line-height:17px;
}

.datebottom {
	font:bold 26px Arial, Verdana;
	text-transform:uppercase;
	margin:-1px 0 0 0;
}

.commentline {
	border-bottom: 1px dotted #ccc;
	padding: 0 0 15px 0;
}

.postline {
	border-bottom: 1px dotted #ccc;
	padding: 0 0 5px 0;
	margin:0 0 10px 0;
}

.archiveline {
	border-bottom: 1px dotted #ccc;
	padding: 0 0 5px 0;
	margin:0 0 20px 0;	
}

#content-right-2col ul {
	list-style:none;
	margin:0 0 10px 0;
	padding:0;
}
	#content-right-2col li {
		padding:0;
		margin:0 0 -2px 0;
	}
	#content-right-2col li a {
		font-size:12px;
	}

#content-right-2col h2 {
	margin:0;
	font-size:18px;
}

#content-right-2col p {
	margin:0 0 10px 0;
	font-size:13px;
}

#commentform p {
	margin: 0 0 5px 0;
	text-align:left;
}

#commentform small {
	font-size:10px;
	line-height:.8em;
}

#commentform label {
	text-align:right;
	width:100px;
	float:none;
}

#commentform input {
	float:none;
}

.commentlist {
	list-style:none;
	margin:8px 0 0 0;
	padding:0;
}
	.commentlist li {
		margin:0 0 5px 0;
		padding:10px 10px 0 10px;
		font-size:14px;
	}
	.commentlist li p {
		margin:0 0 5px 0;
		font-size:12px;
	}
	.commentlist .alt {
		background:#eee;
		border-bottom: 1px dotted #ddd;
	}

.commentaux {
	margin: 0 0 8px 0;
}

small.commentmetadata a {
	font-size:10px;
}

#page_title h2 {
	font-size:25px;
	margin:5px 0;
}

#homelink {
	margin: 0 0 10px 0;
}
	#homelink a {
		text-decoration:none;
	}

/* Feature table layout */
#featurelist table td {
	font-size:10px;
	text-align:center;
	background:#DDDDDD;
}

#featurelist table td.top { background: #FFFFFF; }
#featurelist table td.head { background: #00A1B3; font-size:12px text-align:left;}
#featurelist table td.yes { background: #cfc; width:64px;}
#featurelist table td.no { background: #fcc; width:64px;}
#featurelist table td.partial { background: #ffa; width:64px; }

