##
## Broadcast Machine 2 URI rewrite config.
##

##
## For when mod_rewrite is dynamically loaded.
##
<IfModule mod_rewrite.so>
	  RewriteEngine On
	  RewriteBase /home/oppy/gopperman.com/bmachine2/
	  RewriteCond %{REQUEST_FILENAME} !-f
	  RewriteCond %{REQUEST_FILENAME} !-d
	  RewriteRule . /home/oppy/gopperman.com/bmachine2/index.php [L]
</IfModule>

##
## For when mod_rewrite is compiled in. (Ubuntu default!)
##
<IfModule mod_rewrite.c>
          RewriteEngine On
          RewriteBase /home/oppy/gopperman.com/bmachine2/
          RewriteCond %{REQUEST_FILENAME} !-f
          RewriteCond %{REQUEST_FILENAME} !-d
          RewriteRule . /home/oppy/gopperman.com/bmachine2/index.php [L]
</IfModule>

# libphp5, what about mod_php, statically/dynamically compiled?
<IfModule libphp5.so>
	  # Disable magic quotes.
	  php_flag magic_quotes_gpc Off
</IfModule>
